<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <property name="LOG_FILE" value="${LOG_PATH:-/tmp}/application.log" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="com.acme" level="${APPLICATION_LOGLEVEL:-INFO}" />
    <logger name="org.apache.catalina.loader.WebappClassLoaderBase" level="${WEBAPP_CLASS_LOADER_BASE_LOGLEVEL:-INFO}" />
    <logger name="org.mongodb.driver.cluster" level="WARN" />
    <logger name="org.springframework.boot.availability.ApplicationAvailabilityBean" level="${REQUEST_RESPONSE_LOGLEVEL:-DEBUG}" />
    <logger name="org.springframework.boot.devtools.autoconfigure.ConditionEvaluationDeltaLoggingListener" level="WARN" />
    <logger name="org.springframework.graphql.web.webflux.GraphQlHttpHandler" level="${APPLICATION_LOGLEVEL:-INFO}" />
    <logger name="org.springframework.http.codec.json.Jackson2JsonEncoder" level="${REQUEST_RESPONSE_LOGLEVEL:-DEBUG}" />
    <logger name="org.springframework.security.core.userdetails.User" level="ERROR" />
    <logger name="org.springframework.security.web.server.authorization.AuthorizationWebFilter" level="${APPLICATION_LOGLEVEL:-INFO}" />
    <logger name="org.springframework.security.web.server.authorization.DelegatingReactiveAuthorizationManager" level="${APPLICATION_LOGLEVEL:-INFO}" />
    <logger name="org.springframework.web.server.adapter.HttpWebHandlerAdapter" level="${REQUEST_RESPONSE_LOGLEVEL:-DEBUG}" />

    <logger name="org.hibernate.SQL" level="${APPLICATION_LOGLEVEL:-INFO}" />
    <!-- Hibernate 6:
    <logger name="org.hibernate.orm.jdbc.bind" level="${APPLICATION_LOGLEVEL:-INFO}" />
    -->
    <logger name="org.hibernate.type.descriptor.sql" level="${APPLICATION_LOGLEVEL:-INFO}" />
    <logger name="org.hibernate.SQL_SLOW" level="INFO" />

    <logger name="io.mockk.impl.recording.states.AnsweringState" level="DEBUG" />
    <logger name="io.qameta.allure.AllureLifecycle" level="FATAL" />
    <logger name="org.junit.jupiter.engine.descriptor.TestInstanceLifecycleUtils" level="WARN" />
    <logger name="org.springframework.boot.test.context.SpringBootTestContextBootstrapper" level="WARN" />
    <logger name="org.springframework.test.context.support.AbstractContextLoader" level="WARN" />
    <logger name="org.springframework.test.context.support.AnnotationConfigContextLoaderUtils" level="WARN" />
    <logger name="org.springframework.test.context.support.DefaultTestContextBootstrapper" level="WARN" />

    <!-- <logger name="reactor.netty.http.client" level="DEBUG" /> -->
</configuration>
